.cardRoot {
  max-width: 100%;
}

.media {
  height: 100px;
  width: 100px;
  border-radius: 10px;
  padding: 20px;
}

// .cardAction {
//   margin-top: 20px;
// }
.cardActionGrid {
  margin-top: 20px;
}
