@use '../../../theme/mixins' as mixin;

.headerTitle {
  flex: 1;
  img {
    height: 60px;
    width: auto;
    cursor: pointer;
  }
}

.registerAsProfessionalBtn {
  text-decoration: underline;
}

.headerToolbar {
  max-width: 100%;
  margin: 0 auto;
  width: 1200px;
}

.headerLinks {
  @include mixin.fxLayout();
  @include mixin.fxLayoutAlign(flex-start, center);
  &:last-child {
    margin-right: 48px;
  }
}
