.cardRoot {
  max-width: 100%;
}

.media {
  height: 100px;
  width: 100px;
  border-radius: 10px;
  padding: 20px;
}

.cardAction {
  margin-bottom: 8px;
}

.cardActionGrid {
  padding: 16px;
  margin-bottom: 16px;
}
