@use '../../../theme/mixins' as mixin;

.cardRoot {
  width: 350px;
  height: 500px;
}

.media {
  height: 100px;
  width: 100px;
  border-radius: 10px;
  padding: 20px;
}

.cardActionGrid {
  padding: 16px;
  margin-bottom: 16px;
}

.img-container {
  background-image: url(https://res.cloudinary.com/urbanclap/image/upload/t_medium_res_template,q_30/images/supply/customer-app-supply/1634118672958-fb2d33.png);
  background-size: cover;
  background-repeat: no-repeat;
  // background-blend-mode: darken;
  background-color: #00000070;
  position: relative;
}

.avatar-wrapper {
  position: absolute !important;
  bottom: -16px;
  right: 8px;
  height: 75px !important;
  width: 75px !important;
  border: 1px solid #fafafa;
}

.svc-desc {
  @include mixin.line-ellipsis(4);
}
