@use '../../theme/mixins' as mixin;

.service_list_container {
  @include mixin.fxFlex();
}

.checkout-container {
  position: sticky;
  display: flex;
  bottom: 16px;
  width: 100%;
  height: 50px;
  background-color: transparent;
  margin-top: 16px;
  color: white;

  .checkout-bar {
    width: 350px;
    height: 50px;
    background-color: #1976d2;
    margin-left: calc(100% - 350px);
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
  }
}

.not-found-container {
  @include mixin.fxLayout(column !important);
  @include mixin.fxLayoutAlign(center, center);
  width: 100%;
  text-align: center;
}
