@use '../../theme/mixins' as mixin;

.dialog-header {
  @include mixin.fxLayout();
  @include mixin.fxLayoutAlign(space-between, center);
}

.dialog-content {
  padding: 16px;
  @include mixin.fxLayout(column);
  @include mixin.fxLayoutGap();
}

.dialogTitle {
  margin: 0;
  padding: 16px;
  background-color: #3f51b5;
  color: white;
}

.dividerThick {
  height: 2px;
  background-color: lightgray;
}

.itemSummaryRoot {
  display: flex;
  flex-direction: column;
  margin: 16px;
}

.itemSummary {
  display: flex;
  margin: 8px;
}
