@use '../../theme/mixins' as mixin;

.imgContainer {
  position: relative;
  height: 700px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
  background-color: #00000070;
    background-image: url(https://images.unsplash.com/photo-1507842217343-583bb7270b66?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1590&q=80);
  // background-image: url(https://images.unsplash.com/photo-1540103711724-ebf833bde8d1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1476&q=80);
}

.branding {
  position: absolute;
  bottom: 100px;
  left: 100px;
  color: white;
  width: 375px;

  @include mixin.fxLayout(column);
  @include mixin.fxLayoutGap(8px);
  @include mixin.fxLayoutAlign(center, start);
}

.crewLogo {
  align-self: end;
  height: 75px;
  margin-bottom: -28px;
}

.brandingMotto {
  padding: 48px;
  width: calc(100% - 96px); // don't know why this works?
  position: relative;
}

.whoWeAre {
  width: calc(100% - 96px); // don't know why this works?
  padding: 48px;
}
