@use '../../../theme/mixins' as mixin;

.bookingServiceCard {
  width: 480px;
  max-height: 400px;
  background-color: white;
}

.bookingSummary {
  margin: 16px;
}

.serviceNameAndStatus {
  display: flex;
}

.serviceName {
  flex-grow: 1;
  font-weight: 700;
  @include mixin.ellipsis(260px);
}

.statusMessage {
  padding: 4px;
  border-radius: 4px;
  color: white;
  text-transform: uppercase;
  font-size: small;
  font-weight: 600;
}

.bookingDetails {
  @include mixin.fxLayout(column);
  @include mixin.fxLayoutGap();
  align-items: start;
  margin-top: 8px;
  padding: 0 16px;
  width: 100%;
}

.bookingAvatar {
  @include mixin.fxLayout();
  @include mixin.fxLayoutAlign(center, start);
  @include mixin.fxLayoutGap(row);
}

.bookingReviewDetails {
  @include mixin.fxLayout();
  @include mixin.fxLayoutGap(row, 8px);
}

.action-controls {
  margin-top: 16px;
  @include mixin.fxLayout();
  @include mixin.fxLayoutAlign(flex-end, center);
  @include mixin.fxLayoutGap(row);
}

.ratingWrapper {
  @include mixin.fxLayout();
  @include mixin.fxLayoutAlign(start, center);
  @include mixin.fxLayoutGap(row, 4px);
  color: green;
  font-weight: 600;
}

.reviewComment {
  @include mixin.line-ellipsis(3);
}

.rating {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
