@use '../../theme/mixins' as mixin;

.bookingRoot {
  padding: 16px;
  width: 100%;
  background-color: #fff;
  @include mixin.fxFlex();
  @include mixin.fxLayout(column);
  @include mixin.fxLayoutAlign(start, center);
  @include mixin.fxLayoutGap();
}
