@use '../../theme/mixins' as mixin;

.searchPageRoot {
  @include mixin.fxLayout(column);
  flex: 1;
}

.searchPageHome {
  height: 552px;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
  background-color: #00000070;
}

.locationDropDown {
  display: flex;
  height: 56px;
  background-color: #fff;
  align-items: center;
  justify-content: space-between;
  color: #212121;
  border-radius: 4px;
  cursor: pointer;
  padding: 0 8px;
}

.servicesAutoComplete {
  background-color: #fff;
  border-radius: 4px;
}

.locationPopOver {
  margin-top: 8px;
}

.popOverMenuItem {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-left: 4px;
  cursor: pointer;
}
.popOverMenuItemRoot {
  display: flex;
  margin: 4px;
  width: 100%;
  align-items: center;
}

.popOverMenuItemRoot :hover {
  background: lightgrey;
}

.availableServicesGridItem :hover {
  background-color: lightgrey;
  cursor: pointer;
}

.availableServices {
  width: 50%;
  margin: auto;
  padding: 16px;
  margin-top: -125px;
  margin-bottom: 50px;
}

.serviceItem {
  padding: 16px;
  width: 160px !important;
  cursor: pointer;
  &:hover {
    background-color: lightgrey;
  }
}
