@use '../../theme/mixins' as mixin;

.homeRoot {
  flex: 1;
}

.homePageImgContainer {
  display: flex;
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: darken;
  background-color: #00000070;
}

.homeScreenTitleRoot {
  background: linear-gradient(90deg, transparent, #2b2623de 30%);
  height: 100%;
  display: flex;
  color: white;
  padding: 32px 32px 0 32px;
}

.titleRoot {
  display: flex;
  flex-direction: column;
  min-height: 500px;
  height: auto;
}

.title {
  letter-spacing: 3px;
  color: white;
  font-size: 32px;
  font-weight: bold;
}

.typingEffect {
  width: 28ch;
  animation: typing 5s steps(60), blink 0.5s step-end infinite alternate;
  animation-iteration-count: infinite;
  border-right: 3px solid;
  white-space: nowrap;
  overflow: hidden;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.titleRoot > h1 {
  margin: 20px 0 16px;
}

.titleDesc {
  font-size: 24px;
  line-height: 1.44;
  color: #bdbdbd;
  letter-spacing: 1px;
  margin-bottom: 36px;
  height: 100px;
}

.homeScreenAutoSearchDiv {
  width: 310px;
  border-radius: 4px;
  background-color: #fff;
  padding: 24px 16px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  color: #212121;
  margin-bottom: 16px;
  @include mixin.fxLayoutGap(column, 8px);
}
.homePageContent {
  width: 100%;
  margin: 0 auto;
  background-color: white;
  padding-top: 32px;
  @include mixin.fxLayoutGap();
}

.whyTheCrewDiv {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.5;
  color: #000;
  margin-left: 24px;
}

.whyTheCrewImgContainer {
  width: 72px;
  height: 72px;
  margin-right: 32px;
  display: flex;
}

.whyTheCrewImg {
  width: 100%;
  object-fit: cover;
}

.whyTheCrewInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.WhyTheCrew__heading {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  color: #000;
}

.WhyTheCrew__desc {
  font-size: 14px;
  line-height: 1.43;
  color: #757575;
}

.whyTheCrewDiv > ul > li {
  display: flex;
  align-items: center;
  margin-bottom: 36px;
}

.qualityAssuredRoot {
  border-radius: 8px;
  background-color: #f5f9ff;
  padding: 16px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.qualityAssuredImgContainer {
  width: 106px;
  height: 120px;
}

.qualityAssuredImg {
  width: 100%;
  object-fit: cover;
}

.qualityAssuredHeading {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.5;
  color: #000;
  margin-bottom: 12px;
}

.qualityAssuredDesc {
  font-size: 18px;
  line-height: 1.44;
  color: #757575;
}

.static-ui-elements {
  @include mixin.fxLayoutGap(row, 16px);
}
